<h1>Execercise 5</h1>

<h3>Re-Using Views! Oh my</h3>


<section id='list'>




</section>

<script type="text/javascript">
  var app = app || {};
  app.data = [
    { id:1, thing: 'I need to do laundry', date: '8/19/2015'},
    { id:2, thing: 'I need to study more', date: '8/30/2015'},
    { id:3, thing:  'caramel cake', date: '8/19/2015'},
    { id:4, thing: 'Another brain', date: '8/19/2015'},
    { id:5, thing: 'ticket to russia', date: '8/20/2015'}


  ];
  app.todoItemView = Backbone.View.extend({
    initialize: function() {
      // this.render();
    },
    render: function(dataObject) {
      this.template = _.template($('#list-template').html());
      var compiledTemplate = this.template(dataObject);
      this.$el.append(compiledTemplate);
    }
  });
  // dat page is ready
  $(document).ready(function(){
    var todoItem = new app.todoItemView({
      el: $('#list')
    });
    //loop through my array..
    for (var item in app.data) {
      todoItem.render(app.data[item]);
    }
    //and render!
    //
  });


</script>


<script type="text/template" id='list-template'>

<li>
  #<%%= id %>:
  <em><%%= thing %></em>;
  <strong>Due By:</strong> <%%= date %>
</li>

</script>
