<h1>Excercise 4</h1>

<h3>Hello Backbone, Views views everywhere</h3>

<section id='container'>

</section>


<section class='meow'>

</section>

<script type="text/javascript">

  var app = app || {};
  app.listItemView = Backbone.View.extend({
    initialize: function() {
      console.log('oh snap the view has arrived');
      this.render();
      console.log('hey content should be rendered in');
      console.log(this.$el);

    },
    render: function() {
      console.log('oh snap the view took shades off');
      this.$el.append('<img src= "http://img.picturequotes.com/2/6/5236/if-you-want-to-be-a-lion-you-must-train-with-lions-quote-1.jpg">');
    }
  });

  var listItem = new app.listItemView({
    el: $('#container')
  });

  var listItem = new app.listItemView({
    el: $('.meow')
  });
</script>





















<p id="content">

</p>

<script type="text/javascript">

$(document).ready(function() {

var stories = [
  {name: 'Sonju took over the world', priority: 'AWESOME'},
  {name: 'Brad and Isaac buy out Last.fm', priority: 'BODACIOUS'},
  {name: 'David Hayes reaches the moon', priority: 'RADICAL'},
  {name: 'James goes one day without falling', priority: 'WIN'},
  {name: 'Billionaire Kate buys GChat', priority: 'MOST EXCELLENT'},
  {name: 'Tim Rourke replaces Slack with RChat', priority: 'KICKASS'}
];

var storyTemplate = _.template($('#story').html());
//var storyTemplateRedux = _.template('<li'><%%)

for (var story in stories) {

  var data = stories [story];
  console.log(data);
  $('#content').append(storyTemplate(data));


}
})



</script>


<script type="text/template" id="story">

  <li><%%= name %>, <%%= priority %></li>

</script>










<!-- if you include an underscore temp in a rb, you have
 to break it w/% on first -->
